<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeemachine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeMachine"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewDrinkActivity"
            android:label="@string/label_new_drink"
            android:parentActivityName=".AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminActivity" />
        </activity>
        <activity
            android:name=".DrinkActivity"
            android:label="@string/label_add_drink"
            android:parentActivityName=".SubOrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubOrderActivity" />
        </activity>
        <activity
            android:name=".SubOrderActivity"
            android:label="@string/new_order"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_admin"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>